/* header */
header {
    background-color: green;
}

.logo {
    width: 15%;
}

/* main */
main {
    background-image: url("../img/pexels-life-of-pix-21410.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

}

.filter {
    background: rgba(121, 227, 35, 0.35);
    background: linear-gradient(0deg, rgba(121, 227, 35, 0.35) 0%, rgba(0, 163, 30, 0.35) 100%);
    width: 100%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10rem 0;
}

.main_card{
    background-color: white;
    border-radius: 5rem;
    padding: 9rem 0;
}

.user_info {
    display: flex;
    justify-content: center;
}

.user_info input, .user_info button {
    margin: 0 0.5rem;
}

input {    
    width: 30%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 1.2rem;
}

.btn_send {
    background-color: green;
    color: white;
    border-radius: 1rem;
    padding: 0 2rem;
}

















/* .main_card img {
    width: 50%;
    padding-bottom: 1rem;
}

#ticket_price {
    font-size: 2.7rem;
    font-weight: 700;
    color: red;
}

#discount_message {
    font-style: italic;
    font-size: 0.8rem;
    color: red;
} */